In [1]:
import pandas as pd
import matplotlib.pyplot as plt

<h5>Dataframes<h5>

In [2]:
df_bc_search = pd.read_csv('Data/Bitcoin Search Trend.csv')
df_bc_price = pd.read_csv('Data/Daily Bitcoin Price.csv')
df_tesla = pd.read_csv('Data/TESLA Search Trend vs Price.csv')
df_ue_2004_2019 = pd.read_csv('Data/UE Benefits Search vs UE Rate 2004-19.csv')
df_ue_2004_2020 = pd.read_csv('Data/UE Benefits Search vs UE Rate 2004-20.csv')

In [19]:
print(f'{df_tesla.head()}\n\n{df_tesla.shape}\n\n{df_tesla.tail()}')

        MONTH  TSLA_WEB_SEARCH  TSLA_USD_CLOSE
0  2010-06-01                3           4.766
1  2010-07-01                3           3.988
2  2010-08-01                2           3.896
3  2010-09-01                2           4.082
4  2010-10-01                2           4.368

(124, 3)

          MONTH  TSLA_WEB_SEARCH  TSLA_USD_CLOSE
119  2020-05-01               16      167.000000
120  2020-06-01               17      215.962006
121  2020-07-01               24      286.152008
122  2020-08-01               23      498.320007
123  2020-09-01               31      407.339996

In [5]:
df_tesla.shape

(124, 3)

In [18]:
print(f'{df_ue_2004_2019.head()}\n\n{df_ue_2004_2019.shape}\n\n{df_ue_2004_2019.tail()}')

     MONTH  UE_BENEFITS_WEB_SEARCH  UNRATE
0  2004-01                      34     5.7
1  2004-02                      33     5.6
2  2004-03                      25     5.8
3  2004-04                      29     5.6
4  2004-05                      23     5.6

(181, 3)

       MONTH  UE_BENEFITS_WEB_SEARCH  UNRATE
176  2018-09                      14     3.7
177  2018-10                      15     3.8
178  2018-11                      16     3.7
179  2018-12                      17     3.9
180  2019-01                      21     4.0

In [12]:
print(f'{df_ue_2004_2020.head()}\n\n{df_ue_2004_2020.shape}\n\n{df_ue_2004_2020.tail()}')

     MONTH  UE_BENEFITS_WEB_SEARCH  UNRATE
0  2004-01                       9     5.7
1  2004-02                       8     5.6
2  2004-03                       7     5.8
3  2004-04                       8     5.6
4  2004-05                       6     5.6

(200, 3)

       MONTH  UE_BENEFITS_WEB_SEARCH  UNRATE
195  2020-04                     100    14.7
196  2020-05                      63    13.3
197  2020-06                      53    11.1
198  2020-07                      54    10.2
199  2020-08                      50     8.4

In [16]:
print(f'{df_bc_price.head()}\n\n{df_bc_price.shape}\n\n{df_bc_price.tail()}')

         DATE       CLOSE      VOLUME
0  2014-09-17  457.334015  21056800.0
1  2014-09-18  424.440002  34483200.0
2  2014-09-19  394.795990  37919700.0
3  2014-09-20  408.903992  36863600.0
4  2014-09-21  398.821014  26580100.0

(2204, 3)

            DATE         CLOSE        VOLUME
2199  2020-09-24  10745.548828  2.301754e+10
2200  2020-09-25  10702.290039  2.123255e+10
2201  2020-09-26  10754.437500  1.810501e+10
2202  2020-09-27  10774.426758  1.801688e+10
2203  2020-09-28  10912.536133  2.122653e+10

In [17]:
print(f'{df_bc_search.head()}\n\n{df_bc_search.shape}\n\n{df_bc_search.tail()}')

     MONTH  BTC_NEWS_SEARCH
0  2014-09                5
1  2014-10                4
2  2014-11                4
3  2014-12                4
4  2015-01                5

(73, 2)

      MONTH  BTC_NEWS_SEARCH
68  2020-05               22
69  2020-06               13
70  2020-07               14
71  2020-08               16
72  2020-09               13

In [22]:
df_tesla.TSLA_WEB_SEARCH.max()

31

In [23]:
df_tesla.describe()

       TSLA_WEB_SEARCH  TSLA_USD_CLOSE
count       124.000000      124.000000
mean          8.725806       50.962145
std           5.870332       65.908389
min           2.000000        3.896000
25%           3.750000        7.352500
50%           8.000000       44.653000
75%          12.000000       58.991999
max          31.000000      498.320007

In [29]:
print(f'Number of NaN values in Bitcoin Search DF = {df_bc_search.isna().values.sum()}')
print(f'Number of NaN values in Bitcoin Price DF = {df_bc_price.isna().values.sum()}')
print(f'Number of NaN values in Tesla DF = {df_tesla.isna().values.sum()}')
print(f'Number of NaN values in UE-2004-2019 DF = {df_ue_2004_2019.isna().values.sum()}')
print(f'Number of NaN values in UE-2004-2020 DF = {df_ue_2004_2020.isna().values.sum()}')

Number of NaN values in Bitcoin Search DF = 0
Number of NaN values in Bitcoin Price DF = 2
Number of NaN values in Tesla DF = 0
Number of NaN values in UE-2004-2019 DF = 0
Number of NaN values in UE-2004-2020 DF = 0

In [37]:
df_bc_price.CLOSE.isnull().values.any()

True

In [41]:
df_bc_price[df_bc_price.CLOSE.isna()]

            DATE  CLOSE  VOLUME
2148  2020-08-04    NaN     NaN

In [48]:
df_bc_price[df_bc_price['CLOSE'] == 11747.022461]

            DATE         CLOSE        VOLUME
2149  2020-08-05  11747.022461  2.441125e+10

In [49]:
df_bc_price['CLOSE'][2149]

11747.022461

In [50]:
df_bc_price.dropna(inplace=True)

In [52]:
type(df_bc_price.DATE[1])

str

In [53]:
type(df_bc_search.MONTH[1])

str

In [55]:
type(df_tesla.MONTH[1])

str

In [56]:
type(df_ue_2004_2019.MONTH[1])

str

In [57]:
type(df_ue_2004_2020.MONTH[1])

str

In [58]:
df_bc_price['DATE'] = pd.to_datetime(df_bc_price['DATE'])

In [59]:
type(df_bc_price.DATE[1])

pandas._libs.tslibs.timestamps.Timestamp

In [60]:
df_bc_search['MONTH'] = pd.to_datetime(df_bc_search['MONTH'])

In [61]:
df_tesla['MONTH'] = pd.to_datetime(df_tesla['MONTH'])

In [62]:
df_ue_2004_2019['MONTH'] = pd.to_datetime(df_ue_2004_2019['MONTH'])

In [63]:
df_ue_2004_2020['MONTH'] = pd.to_datetime(df_ue_2004_2020['MONTH'])

In [64]:
df_bc_price_monthly = df_bc_price.resample('M', on='DATE').last()

In [65]:
df_bc_price_monthly.head()

                 DATE       CLOSE      VOLUME
DATE
2014-09-30 2014-09-30  386.944000  34707300.0
2014-10-31 2014-10-31  338.321014  12545400.0
2014-11-30 2014-11-30  378.046997   9194440.0
2014-12-31 2014-12-31  320.192993  13942900.0
2015-01-31 2015-01-31  217.464005  23348200.0