In [1]:
import pandas as pd
import matplotlib.pyplot as plt

<h5>Dataframes<h5>

In [2]:
df_bc_search = pd.read_csv('Data/Bitcoin Search Trend.csv')
df_bc_price = pd.read_csv('Data/Daily Bitcoin Price.csv')
df_tesla = pd.read_csv('Data/TESLA Search Trend vs Price.csv')
df_ue_2004_2019 = pd.read_csv('Data/UE Benefits Search vs UE Rate 2004-19.csv')
df_ue_2004_2020 = pd.read_csv('Data/UE Benefits Search vs UE Rate 2004-20.csv')

In [4]:
df_tesla.head()

        MONTH  TSLA_WEB_SEARCH  TSLA_USD_CLOSE
0  2010-06-01                3           4.766
1  2010-07-01                3           3.988
2  2010-08-01                2           3.896
3  2010-09-01                2           4.082
4  2010-10-01                2           4.368

In [5]:
df_tesla.shape

(124, 3)

In [7]:
df_ue_2004_2019.head()

     MONTH  UE_BENEFITS_WEB_SEARCH  UNRATE
0  2004-01                      34     5.7
1  2004-02                      33     5.6
2  2004-03                      25     5.8
3  2004-04                      29     5.6
4  2004-05                      23     5.6